@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

.completo_help {
  display: flex;
  width: 79%;
  height: 100vh;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.637);
  align-items: center; /* Centrar elementos del contenedor principal */
  gap: 20px; /* Espacio entre elementos aumentado */
  padding: 12px; /* Padding mantenido */
  font-family: "Inter", sans-serif;
  justify-content: center; /* Centra horizontalmente */
  margin-left: auto;
}

.header_help_h2 {
  font-size: 47px; /* Reducido de 48px a 47px */
  font-weight: bold;
  width: 100%;
  text-align: center; /* Centrar el título */
}

.header_help h3 {
  font-size: 27px; /* Reducido de 28px a 27px */
  font-weight: 400;
  text-align: center; /* Centrar el subtítulo */
}

.videoContainer_help {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrar el contenedor del video */
  width: 697px; /* Reducido de 698px */
  height: auto; /* Reducido de 398px */
  background-color: #ececec ;
  border-radius: 12px; /* Bordes redondeados mantenidos */
  padding: 9px; 
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 1); /* Sombra mantenida */
}

.video_help {
  width: 100%;
  height: 100%;
  margin-top: 10px;
  max-width: 85%; /* Reducido de 83% a 82% */
  object-fit: cover; /* Para que el video se ajuste sin deformarse */
}

.contacto_help {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  text-align: left; /* Alinear el texto a la izquierda */
  font-weight: bold; /* Negrita para el texto "Contáctanos" */
  width: 45%; /* Para que el contenido ocupe todo el ancho disponible */
  
}

.contactInfo_help {
  margin-top: 5px;
  display: flex; /* Cambiado para que los elementos se alineen horizontalmente */
  flex-direction: row; /* Cambiado para que los elementos se alineen horizontalmente */
  align-items: center; /* Centrar verticalmente los elementos de contacto */
  gap: 20px; /* Espacio horizontal entre los elementos de contacto */
  width: 100%; /* Asegura que ocupe todo el ancho */
}

.contactItem_help {
  margin-top: 5px;
  display: flex;
  align-items: center; /* Centrar verticalmente los íconos y el texto */
  gap: 10px; /* Espacio entre los iconos y los textos aumentado */
}

.icon_help {
  margin-top: 5px;
  width: 30px; /* Aumentado para íconos más grandes */
  height: auto;
}
