@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

.todo {
  display: flex;
  flex-direction: column; /* Cambiar a columna */
  width: 79%;
  right: 0%;
  height: 100hv;
  background-color: rgb(255, 255, 255);
  position: absolute;
  align-items: center; /* Centra los hijos horizontalmente */
  gap: 30px;
}

.header h2 {
  font-size: 60px;
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  margin-top: 5%;
  width: 100%;
  right: 0%;
}

.content {
  display: flex;
  width: 80%;
}

.advice {
  display: flex;
  background-color: #ffffff;
  padding: 3%;
  margin: 3%;
  align-items: center; /* Opcional: centra el contenido verticalmente */
  justify-content: center; /* Opcional: centra el contenido horizontalmente */
  text-align: center; /* Centra el texto horizontalmente */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  width: 450px;
  height: 430px;
}

.consejo {
  font-size: 30px;
}

.imagen{
  display: flex;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  border-radius: 10px;
  height: 430px;
  width: 450px;
  margin-top: 28px;
  font-size: 30px;
  align-items: center; 
  justify-content: center;
  text-align: center; 
}

.imagen img {
  display: flex;
  width: 450px;
  height: 430px;
  padding: 3%;

}

.imagen p{
display: flex;
}