@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

.todo {
  display: flex;
  flex-direction: column; /* Cambiar a columna */
  width: 75%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  right: 0%;
  position: absolute;
  align-items: center; /* Centra los hijos horizontalmente */
  gap: 30px;
}

.header h2 {
  font-size: 60px;
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  margin-bottom: 10px;
  margin-right: 50px;
  width: 100%;
  margin-top: 5%;
  
}

.content {
  display: flex;

  width: 1000px;
  height: 600px;
}

.advice {
  display: flex;
  background-color: #ffffff;
  padding: 3%;
  margin: 3%;
  align-items: center; /* Opcional: centra el contenido verticalmente */
  justify-content: center; /* Opcional: centra el contenido horizontalmente */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  width: 450px;
  height: 400px;
  text-align: center; /* Centra el texto horizontalmente */
}
.consejo {
  font-size: 30px;
  

}

.imagen img {
  display: flex;
  width: 400px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  padding: 3%;
  margin-top: 30px;
}