@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/* Agrega esto al CSS */
.login_page {
  position: relative;
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  overflow: hidden; /* Elimina el scroll */
  margin: 0;
  padding: 0;
}

.login_page::before {
  content: "";
  position: absolute;
  top: 0;
  left: -300px;
  width: 800px;
  height: 800px;
  background-color: #b7ce63;
  transform: rotate(45deg);
  z-index: -1;
}

.login_container {
  display: flex;
  background-color: #ececec; /* Cambia esto si quieres otro color */
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  width: 350px;
  height: 330px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header_Loguin {
  display: flex;
  align-items: center;
  justify-content: center; /* Centra horizontalmente */
  margin-bottom: 20px;
  gap: 20px;
}

/* Centrar el título fuera del contenedor */
.title_register {
  text-align: center;
  color: #000000;
  font-size: 2.5rem;
  z-index: 1;
}

/* Estilo del logo */
.header_Loguin img {
  vertical-align: middle; /* Alinea el icono con el texto */
  margin-right: 8px; /* Espacio entre el icono y el texto */
  width: 80px;
}

.login_container hr {
  width: 100%;
  margin: 5%;
}

/* Estilos de títulos */
.login_container h2 {
  text-align: center;
  color: #000;
  font-size: 24px;
  margin-bottom: 10px;
}

.inputContainer input {
  display: flex;
  width: 270px; /* Ancho completo del input */
  padding: 8px; /* Espaciado interno */
  border: 1px solid #000000; /* Borde */
  border-radius: 4px; /* Bordes redondeados */
}

.inputContainer {
  display: flex;
  flex-direction: column; /* para apilarlos verticalmente */
  gap: 10px; /* Ajusta el valor según el espacio que desees */
}

/* Centramos el formulario dentro del contenedor */
.Login_form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centramos los campos dentro del formulario */
}

.error_message_login {
  color: rgb(182, 1, 1); /* Color del texto de error */
  font-size: 13px; /* Tamaño del texto */
  z-index: 1; /* Asegura que el mensaje esté por encima de otros elementos */
}
/* Estilos del botón */
.button {
  margin-top: 14px;
  width: 120px;
  padding: 10px 15px;
  background-color: #8fb339;
  color: #000;
  font-weight: bold;
  border: none;
  border-radius: 50px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Estilo al pasar el ratón sobre el botón */
.button:hover {
  background-color: #64831d;
}

.restorePassword {
  display: flex;
  font-size: 13px;
  margin-top: 5%;
  flex-direction: column; /* para apilarlos verticalmente */
  gap: 5px;
  justify-content: center;
  text-align: center; /* Centra el texto horizontalmente */
}

