/* Estilo por defecto para pantallas grandes (1280px en adelante) */
.todo_movements {
  display: flex;
  width: calc(100% - 250px);
  flex-direction: column;
  height: 100vh;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  padding: 10px;
  position: absolute;
  font-family: "Inter", sans-serif;
  align-items: center;
  background-color: #fff;
}

.header {
  display: flex;
  justify-content: center;
  width: 100%;
}

.body_movements {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.button_movements {
  display: flex;
  margin-top: -10px;
  width: 220px;
  height: 70px;
  background-color: #8fb339;
  color: #000;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-items: center;
  padding-left: 35px;
}

.button_movements:hover {
  background-color: #64831d;
}

.button_movements img {
  width: 50px;
  margin-left: 20px;
  height: auto;
}

.h2 {
  font-size: 34px;
  text-align: center;
  margin: 15px;
}

.presupuesto {
  margin-top: 80px;
  background-color: #ececec;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  width: 650px;
  height: 350px;
  border-radius: 10px;
  font-weight: bold;
}

.header h2 {
  text-align: center;
  margin: 0;
  margin: 30px;
}

.presupuesto input {
  display: flex;
  width: 250px;
  padding: 8px;
  border: 1px solid #000000;
  border-radius: 4px;
  margin-bottom: 25px;
  margin-top: 20px;
  background-color: #d4ee96;
  font-weight: bold;
}

.presupuesto_superior {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.superior,
.inferior {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.superior label,
.inferior label {
  text-align: center;
  width: 100%;
  margin-bottom: 5px;
  font-size: 24px;
}

.superior input,
.inferior input {
  text-align: center;
  font-size: 15px;
}

.inferior {
  margin: 20px;
}

/* Responsividad */

/* Pantallas 1280px hasta 1279px */
@media (max-width: 1280px) {
  .presupuesto {
    width: 480px; /* Disminuye el tamaño del contenedor */
    height: 350px; /* Ajusta la altura del contenedor */
    margin-left: 0px !important;
    margin-top: 20px;
  }

  .header h2{
    margin-top: 15px;
  }
  .button_movements {
    width: 180px; /* Ajusta el ancho de los botones */
    height: 55px; /* Ajusta la altura de los botones */
    font-size: 20px; /* Disminuye el tamaño de la fuente de los botones */
  }

  .button_movements img {
    width: 40px; /* Ajusta el tamaño de las imágenes dentro de los botones */
    margin-left: 10px;
  }

  .presupuesto input {
    width: 80%; /* Disminuye el tamaño de los inputs */
    padding: 6px; /* Ajusta el padding de los inputs */
    font-size: 14px; /* Ajusta el tamaño de la fuente de los inputs */
  }
}


/* Pantallas 1280px hasta 1279px */
@media (min-width: 1024px) {
  .presupuesto {
    width: 600px; /* Disminuye el tamaño del contenedor */
    height: 450px; /* Ajusta la altura del contenedor */
    margin-left: 50px;
  }

  .button_movements {
    width: 240px; /* Ajusta el ancho de los botones */
    height: 55px; /* Ajusta la altura de los botones */
    font-size: 35px; /* Disminuye el tamaño de la fuente de los botones */
  }

  .button_movements img {
    width: 40px; /* Ajusta el tamaño de las imágenes dentro de los botones */
    margin-left: 10px;
  }

  .presupuesto input {
    width: 80%; /* Disminuye el tamaño de los inputs */
    padding: 6px; /* Ajusta el padding de los inputs */
    font-size: 20px; /* Ajusta el tamaño de la fuente de los inputs */
  }
  
  .superior label, .inferior label{
    font-size: 30px;
  }

  .header h2{
    font-size: 50px;
  }
}


/* Pantallas pequeñas 481px hasta 769px */
@media (max-width: 825px) {
  .presupuesto {
    width: 420px; /* Mantiene el ancho del contenedor */
    height: 350px; /* Aumenta la altura del contenedor para incluir el input inferior */
    margin-left: 50px; /* Corre el contenedor un poco a la izquierda */
  }

  .button_movements {
    width: 160px;
    height: 50px;
    font-size: 18px;
    margin-left: 50px; /* Corre los botones un poco a la derecha */
  }

  .button_movements img {
    width: 35px;
    margin-left: 8px;
  }

  .h2 {
    font-size: 45px;
    text-align: center;
    margin-left: 30px; /* Corre el título más a la derecha */
  }

  .presupuesto input {
    width: 80%; /* Disminuye el tamaño de los inputs */
    padding: 6px;
    font-size: 14px; /* Ajusta el tamaño de fuente si es necesario */
  }

  .inferior input {
    display: block;
    margin-left: -40px;
  }
}



/* Pantallas muy pequeñas 0px hasta 480px */
@media (max-width: 480px) {
  .todo_movements {
    width: 85%;
    padding: 4px;
    padding-left: 30px; /* Mantiene el desplazamiento hacia la derecha */
    align-items: center;
  }

  .presupuesto input {
    width: 95%;
    box-sizing: border-box;
    padding: 6px;
  }

  .presupuesto {
    width: 250px;
    height: 420px;
    margin: 0 auto;
    padding: 8px;
    margin-top: 40px;
    margin-left: 30px; /* Ajuste para correr el contenedor a la derecha */
  }

  .button_movements {
    width: 250px; /* Asegura el mismo ancho para ambos botones */
    height: 35px;
    font-size: 14px;
    justify-content: flex-start; /* Alinea el contenido a la izquierda */
    padding-left: 15px; /* Desplaza el contenido interno hacia la derecha */
    padding-right: 8px;
    margin-left: 15px;
  }

  .button_movements img {
    width: 20px;
    margin-left: 2px;
  }

  .h2 {
    font-size: 26px; /* Disminuye el tamaño de fuente del título */
    text-align: center;
    margin-left: 30px; /* Desplaza el título un poco a la derecha */
  }

  .presupuesto_superior,
  .superior,
  .inferior {
    gap: 8px;
  }

  .inferior {
    width: 200px;
  }

  .body_movements {
    width: 80%;
    gap: 10px;
  }
}