@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.register_page {
  position: relative;
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  overflow: hidden; /* Elimina el scroll */
  margin: 0;
  padding: 0;
}

.register_page::before {
  content: "";
  position: absolute;
  top: 0;
  left: -300px;
  width: 800px;
  height: 800px;
  background-color: #b7ce63;
  transform: rotate(45deg);
  z-index: -1;
}

.body_register {
  position: relative; /* Asegurado para que este contenido esté en el frente */
  z-index: 1; /* Asegúrate de que este valor sea mayor que 0 */
  background-color: #ececec;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  width: 650px; /* Cambia este valor para ajustar el ancho */
  font-family: "Inter", sans-serif;
}

.body_register h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

/* Estilos para el encabezado */
.header_register {
  display: flex;
  align-items: center;
  justify-content: center; /* Centra horizontalmente */
  margin-bottom: 20px;
}

.header_register img {
  width: 80px;
  height: auto;
  margin-right: 10px;
}

.title_register {
  font-size: 44px;
  color: #000000;
}

.inputPadre {
  display: flex; /* Para alinear los contenedores uno al lado del otro */
  justify-content: space-between; /* Espacio entre los contenedores */
  margin-top: 30px;
}

.inputContainer {
  display: flex;
  flex-direction: column; /* Apila elementos verticalmente */
  position: relative; 
  margin-left: 5px;
}

.input_container {
  display: flex;
  flex-direction: column; /* Apila elementos verticalmente */
  position: relative; 
}

.inputContainer input {
  display: flex;
  width: 270px; /* Ancho completo del input */
  padding: 8px; /* Espaciado interno */
  border: 1px solid #000000; /* Borde */
  border-radius: 4px; /* Bordes redondeados */
  margin-bottom: 15px; /* Espacio entre los inputs */
}

.input_container input, select {
  display: flex;
  width: 270px; /* Ancho completo del input */
  padding: 8px; /* Espaciado interno */
  border: 1px solid #000000; /* Borde */
  border-radius: 4px; /* Bordes redondeados */
  margin-bottom: 15px; /* Espacio entre los inputs */
}

.input_container select {
  width: 268px; /* Ancho completo del input */
}

.error_message {
  color: #f53d3d;
  font-size: 12px;
}

/* Estilos para el botón de registro */
.button_register {
  display: inline-block;
  padding: 10px 15px;
  border: none;
  background-color: #8fb339;
  color: rgb(0, 0, 0);
  border-radius: 50px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold; /* Agregar negrita */
  margin-top: 20px; /* Añadir margen superior */
  width: 120px;
}

/* Estilo para el hover del botón */
.button_register:hover {
  background-color: #64831d;
}

/* Estilos para centrar el botón en el contenedor */
.button_container {
  text-align: center; /* Centra el contenido en este contenedor */
}

.text {
  color: #999898;
  font-size: 10px;
  margin-top: 20px; /* Ajusta este valor según necesites */
}

.text1 {
  color: #454444;
  font-size: 12px;
  margin-top: 15px;
}

.helper_message {
  color: #878787;
  font-size: 10px;
  text-align: justify; /* Justifica el texto */
  width: 272px;
}

.linktodo{
  justify-content: center;
  justify-items: center;
  text-align: center;
}

.link{
  font-size: 12px;
}


