.restorepassword_page {
  position: relative;
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 720px;
  flex-direction: column;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #b7ce63;
  z-index: 1;
}

.restorepassword_page::before {
  content: "";
  position: absolute;
  left: -300px;
  width: 800px;
  height: 800px;
  background-color: #ffffff;
  transform: rotate(45deg);
  z-index: -1;
}

.container {
  background: #ececec;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 1);
}

.header {
  display: flex;
  text-align: center;
  margin-bottom: 20px;
  justify-content: center;
  gap: 20px;
}

.h2 {
  font-size: 44px;
}

.LogoImage {
  width: 80px;
  height: 80px;
  max-width: 100%;
  margin-top: -10px;
}

.titulo {
  font-size: 24px;
  margin-bottom: 25px;
  text-align: center;
}

.parrafo {
  margin-bottom: 20px;
  color: #000000;
  font-size: 15px;
}

.input {
  display: flex;
  width: 457px;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 20px;
  border: 1px solid #000000;
}

.button {
  display: flex;
  gap: 30px;
  padding: 10px;
  justify-content: center;
}

.button_1 {
  border-radius: 50px;
  background-color: #8fb339;
  cursor: pointer;
  width: 120px;
  padding: 10px 15px;
  color: #000000;
  font-weight: bold;
  border: none;
  outline: none;
  font-size: 14px;
}

.button_1:hover {
  background-color: #668423;
}

.p {
  text-align: center;
  margin-top: 30px;
}

/* Media Queries para Responsividad */

/* Pantalla pequeña (340px a 420px de ancho) */
@media (min-width: 340px) and (max-width: 420px) {
  .restorepassword_page {
    height: 100vh;
    background-color: #b7ce63;
    justify-content: flex-start;
    padding-top: 100px;
  }

  .restorepassword_page::before {
    left: -200px;
    width: 400px;
    height: 400px;
  }

  .container {
    padding: 20px;
    width: 90%;
    margin-top: 30px;
    max-width: 400px;
  }

  .h2 {
    font-size: 32px;
    text-align: center;
  }

  .LogoImage {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
  }

  .titulo {
    font-size: 18px;
    text-align: center;
  }

  .input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
  }

  .button_1 {
    width: 100%;
    padding: 12px;
    font-size: 16px;
  }

  .p {
    text-align: center;
    margin-top: 20px;
  }
}

/* Pantalla mediana (768px a 912px de ancho) */
@media (min-width: 768px) and (max-width: 912px) {
  .restorepassword_page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .restorepassword_page::before {
    margin-left: -100px;
  }

  .container {
    background: #ececec;
    padding: 30px;
    width: 100%;
    max-width: 600px;
    margin-top: 50px;
  }

  .h2 {
    font-size: 80px;
    text-align: center;
  }

  .LogoImage {
    width: 100px;
    height: 100px;
    margin-bottom: 30px;
  }

  .titulo {
    font-size: 40px;
    margin-bottom: 25px;
    text-align: center;
  }

  .input {
    width: 540px;
    height: 60px;
    padding: 10px;
    margin-bottom: 20px;
  }

  .input::placeholder {
    font-size: 25px; /* Ajuste del tamaño del placeholder para pantalla grande */
  }
  

  .button {
    display: flex;
    justify-content: center;
    gap: 30px;
  }

  .button_1 {
    width: 100%;
    padding: 12px;
    font-size: 30px;
  }

  .p {
    text-align: center;
    margin-top: 30px;
  }

  .parrafo {
    font-size: 30px;
    text-align: left;
  }

}

/* Pantalla grande (1024px en adelante) */
@media (min-width: 1024px){
  .restorepassword_page {
    height: 100vh;
    background-color: #b7ce63;
    justify-content: center;
    padding-top: 60px; /* Aumentado */
  }

  .restorepassword_page::before {
    left: -450px;
    width: 650px; /* Aumentado */
 
  }

  .container {
    width: 60%; /* Aumentado */
  }

 

  .LogoImage {
    width: 100px; /* Aumentado */
    height: 100px; /* Aumentado */
    margin-bottom: 25px; /* Aumentado */
  }

.input{
  font-size: 20px;
}

 

  .input::placeholder {
    font-size: 24px; /* Ajuste del tamaño del placeholder para pantalla grande */
  }

  .button {
    display: flex;
    justify-content: center;
    gap: 40px; /* Aumentado */
  }

  .button_1 {
    width: 180px; /* Aumentado */
   
    font-size: 20px; /* Aumentado */
  }

  .p {
    text-align: center;
    margin-top: 30px; /* Aumentado */
  
  }

  .parrafo {
    font-size: 18px; /* Aumentado */
    text-align: left;
  }

  
}

@media (min-width: 1280px){
  .restorepassword_page {
    height: 100vh;
    background-color: #b7ce63;
    justify-content: center;
    padding-top: 60px; /* Aumentado */
  }

  .restorepassword_page::before {
    left: -450px;
    width: 850px; /* Aumentado */
    height: 850px; /* Aumentado */
  }

  .container {
    background: #ececec;
    padding: 30px; /* Aumentado */
    width: 60%; /* Aumentado */
    max-width: 850px; /* Aumentado */
    margin-top: 15px; /* Aumentado */
  }

  .h2 {
    font-size: 50px; /* Aumentado */
    text-align: center;
  }

  .LogoImage {
    width: 80px; /* Aumentado */
    height: 80px; /* Aumentado */
    margin-bottom: 25px; /* Aumentado */
  }

  .titulo {
    font-size: 28px; /* Aumentado */
    margin-bottom: 35px; /* Aumentado */
    text-align: center;
  }

  .input {
    width: 90%;
    margin-left: 30px;
    padding: 15px; /* Aumentado */
    margin-bottom: 30px; /* Aumentado */
  }

  .input::placeholder {
    font-size: 20px; /* Ajuste del tamaño del placeholder para pantalla grande */
  }

  .button {
    display: flex;
    justify-content: center;
    gap: 40px; /* Aumentado */
  }

  .button_1 {
    width: 150px; /* Aumentado */
    padding: 18px 25px; /* Aumentado */
    font-size: 20px; /* Aumentado */
  }

  .p {
    text-align: center;
    margin-top: 50px; /* Aumentado */
  }

  .parrafo {
    font-size: 22px; /* Aumentado */
    text-align: left;
    margin-left: 40px;
  }
}
