.special-body-restorepassword {
    position: relative;
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #b7ce63;
  }
  
  .special-body-restorepassword::before {
    content: "";
    position: absolute;
    top: 0;
    left: -300px; /* Ajusta según el tamaño que prefieras */
    width: 800px;
    height: 800px;
    background-color: #ffffff;
    transform: rotate(45deg);
    z-index: -1;
   
  }
  
  .header-restorepassword {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    text-align: center; /* Asegura que el texto esté centrado */
    display: flex;      /* Habilita el uso de flexbox */
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
  }
  
  .header-restorepassword img {
    width: 60px; /* Ajusta el tamaño de la imagen */
    height: auto;
    margin-right: 10px;
  }
  
  .header-restorepassword h2 {
    color: #000000;
    margin: 0; /* Elimina márgenes para centrar mejor */
    font-size: 40px;
  }
  
  .container-restorepassword {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px; /* Ancho del contenedor */
    margin: auto;
    padding: 20px;
    border: 1px solid #f1f0f0;
    border-radius: 8px;
    background-color: #f1f0f0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 1);
}

.input-restorepassword {
    display: flex;

    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 15px auto; /* Centra el input vertical y horizontalmente */
    font-size: 16px;
}



  .button-container {
    display: flex;           /* Habilita el uso de flexbox */
    gap: 10px;             /* Espacio entre los botones */
    margin-top: -30px;      /* Espacio arriba de los botones */
}
  
.button-restorepassword {
    width: 130px; /* Fija el ancho del botón */
    padding: 10px 15px; 
    background-color: #8FB339;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    text-align: center; /* Asegura que el texto esté centrado */
    display: flex;      /* Habilita el uso de flexbox */
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
}

  
 .button-restorepassword:hover {
    background-color: #536e14;
  }
  
 .parrafo {
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top: 10px;
  }

  .titulo{
    font-size: 30px;
  }